@import "~bootstrap/scss/bootstrap";

body,
html {
  background: #20232B;
  height: 100%;
  display: flex;
  flex-direction: column;

}
#root{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.page-content{
  flex: 1 0 auto;
  min-height: calc(70%);
}
.page-footer{
  margin-top: 10px;
  padding:20px;
  background: white;
  flex-shrink: 0;
   p{
     margin:0
   }
}

.nsfw-check {
  .custom-control-input:checked ~ .custom-control-label::before {
    background: red;
    border: red;
  }

  .custom-control-input:not(:checked) ~ .custom-control-label::before {
    background: green;
    border: green;
  }
}

.text-bottom {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  padding: 10px;
  top: auto;
  font-size: 1rem;
  
}

